# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/local.properties
**/key.properties
**/*.jks

# iOS
**/Runner.xcworkspace/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
